.login {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-box {
    //   position: absolute;
    //   width: 300px;
    //   height: 260px;
    background-color: white;
    //   margin-top: 150px;
    //   margin-left: -180px;
    //   left: 50%;
    padding: 30px;
}

.login-box-radius {
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);
}

.login-button {
    width: 100%;
}

.error {
    color: #dc3545;
    font-size:x-small;
}