<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title"> 文章分类 </h5>
    <div class="category-list" [class.expanded]="isExpanded">
      @for (category of categories; track category) {
        <a routerLink="/blog/categories/names/{{category}}" class="mx-1">
          {{ category }}
        </a>
      }
    </div>
    @if (!allLoaded) {
      <a class="mx-1 toggle-btn" (click)="next()">更多</a>
    } @else if (categories.length > 8) {
      <a class="mx-1 toggle-btn" (click)="toggle()">{{ isExpanded ? '收起' : '更多' }}</a>
    }
  </div>
</div>
<app-alert [(alerts)]="message"></app-alert>