// :host{
//     background-color: white;
// }
// $hover-color: #06c;

// markdown-toolbar {
//     padding: 8px;
//     margin-bottom: 1rem;

//     .btn {
//         background: none;
//         border: none;
//         cursor: pointer;
//         display: inline-block;
//         height: 24px;
//         padding: 3px 5px;
//         width: 28px;
//         color: #222;

//         i {
//             display: flex;
//         }

//         &:hover {
//             color: $hover-color;
//         }
//     }
// }

// :host{
//     height: 100%;
//     display: flex;
//     flex-direction: column;
// }

$border-color: #d9d9d9;

// :host {
.edit {

    border: 1px solid $border-color;
    box-shadow: 0 0 0 1px $border-color;
    border-radius: 3px;
    outline: none;
    background: #fff;
    display: flex;
    flex-direction: column;
    // margin: 1rem;

    // .text-editor {
    //     padding-left: 15px;
    //     padding-right: 15px;
    //     resize: none;
    //     border-color: transparent;
    //     width: 100%;
    //     overflow-y: hidden;

    //     &:focus {
    //         outline: none;
    //         border: transparent;
    //     }
    // }

    // &.focus {
    //     border: 1px solid $hover-color;
    //     box-shadow: 0 0 0 1px $hover-color;
    // }
}

.preview {
    width: 50%;
    height: 80em;
}

.nopreview {
    width: 100%;
    height: 80em;
}