<app-alert [(alerts)]="message"></app-alert>

<input type="text" [(ngModel)]="article.title" class="form-control my-1" placeholder="请输入文章标题" />
@if (titleError) {
<p class="text-danger fs-6 text">{{titleError}}</p>
}


<app-upload name="图片上传" requiredFileType="*"></app-upload>
<span>链接：</span>
@if (!saving && article.id>0) {
<a class="my-1" routerLink="/blog/articles/{{article.id}}"
  class="card-link">{{baseUrl}}/blog/articles/{{article.id}}</a>
}

<!-- 文章类型 -->
<div style="display: flex; flex-wrap: wrap; flex-direction: row;">
  <label for="category" class="d-inline p-2">文章类型:</label>

  <select id="category" class="form-select" style="width: 10rem;" aria-label="文章分类" [(ngModel)]="article.body.doc_type">
    <option value="Markdown">Markdown</option>
    <option value="Unknow">Unknow</option>
  </select>
</div>

<!-- 预览 -->
<div>
  <label>预览：</label>
  <button class="btn" (click)="preview=!preview">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
      viewBox="0 0 16 16">
      <path
        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
    </svg>
  </button>

</div>
<div class="edit">
  <div style="display: flex; flex-direction :row;">
    <div [ngClass]="preview? 'preview' : 'nopreview' " style="padding: 1rem; overflow:auto; position: relative;">
      <code-editor [theme]="'dark'" [lineWrapping]="true" [languages]="supportedLanguages" language="markdown"
        [(ngModel)]="article.body.content" style="height: 100%;">
      </code-editor>
    </div>
    @if (preview) {
    <div class="preview" style="padding: 1rem; overflow:auto; position: relative;">
      @if (article.body.doc_type=='Markdown') {
      <markdown [data]="article.body.content" style="height: 100%;"></markdown>
      }
      @if (article.body.doc_type=='Unknow') {
      <div style="height: 100%;">{{article.body.content}}</div>
      }
    </div>
    }
  </div>
</div>

<div>
  <label class="form-check-label" for="private">私有：</label>
  <input class="form-check-input" type="checkbox" id="private" [(ngModel)]="article.private">
</div>

<div style="display: flex; flex-wrap: wrap; flex-direction: row;">
  <label for="category" class="d-inline p-2">文章分类:</label>

  <select id="category" class="form-select" style="width: 10rem;" aria-label="文章分类" [(ngModel)]="article.category.id">
    <option [ngValue]=0>请选择文章分类</option>

    @for (category of categories; track category) {
    <option [ngValue]="category.id">{{category.name}}</option>
    }

  </select>

  @if (category.id!==0) {
  <input type="text" class="form-control" placeholder="文章分类" [(ngModel)]="category.name" />
  }


  <button type="button" class="btn btn-outline-primary" (click)="addCategory()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
      viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
      </path>
    </svg>
    <span class="visually-hidden">Button</span>
  </button>
</div>
@if (categoryError) {
<p class="text-danger fs-6 text">{{categoryError}}</p>
}

<div id="tags" class="my-2">
  <span class="me-4">文章标签:</span>
  <app-chips [(values)]="tags" placeholder="文章标签，逗号分隔"></app-chips>
  @if (tagsError) {
  <p class="text-danger fs-6 text">{{tagsError}}</p>
  }


  <!-- <input type="text" class="form-control" placeholder="文章标签" [(ngModel)]="tag.name" *ngIf="tag.id!==0" />

        <button type="button" class="btn btn-outline-primary btn-sm" (click)="addTag()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
            viewBox="0 0 16 16">
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
            </path>
          </svg>
          <span class="visually-hidden">Button</span>
        </button> -->
</div>

<label for="summary">文章摘要：</label>
<textarea id="summary" class="form-control" id="exampleFormControlTextarea1" cdkTextareaAutosize
  [cdkAutosizeMinRows]="2" placeholder="请输入摘要" style="resize:none;" [(ngModel)]="article.summary"></textarea>
@if (summaryError) {
<p class="text-danger fs-6 text">{{summaryError}}</p>
}


<!-- <button type="button" class="btn btn-primary" (click)="save()">发布</button> -->
<button class="btn btn-primary" type="button" [disabled]="saving" (click)="save()">
  @if (saving) {
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  保存...
  } @else {
  @if (isSaved) {
  <span>已保存</span>
  }
  @if (!isSaved) {
  <span>未保存</span>
  }
  }
  <ng-template #noSave>
    @if (isSaved) {
    <span>已保存</span>
    }
    @if (!isSaved) {
    <span>未保存</span>
    }
  </ng-template>
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">警告！</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-danger">
    文章还没有保存！
  </div>
  <div class="modal-footer">
    <button type="button" class="btn  btn-lg btn-outline-primary" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>