.img-container {
    // display: flex;
    // justify-content: space-between;
    position: relative;
    display: inline-block;
    // border: 1px solid black;
    width: 20%;
    padding-bottom: 20%;
    /* padding百分比相对父元素宽度计算 */
    height: 0; //避免被内容撑开多余的高度

    div {
        // display: inline-block;
        // margin: 1%;
        // background-color: green;
        width: 10em;
        height: 10em;
        border: 1px solid black;
        cursor: pointer;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }

}