<div class="app-layout">
    <app-header></app-header>
    
    <main class="main-content">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-9 col-12">
                    <router-outlet></router-outlet>
                </div>
                <div class="col-lg-3 col-12">
                    <app-tag-card></app-tag-card>
                    <app-category-card></app-category-card>
                    <app-archive-card></app-archive-card>
                </div>
            </div>
        </div>
    </main>
</div>