<div class="article-card">
  <div class="card-header">
    <div class="header-left">
      <h5 class="card-title">
        <a routerLink="/blog/articles/{{article.id}}">{{article.title}}</a>
      </h5>
      @if (article.weight>0) {
        <span class="sticky-badge">置顶</span>
      }
    </div>
    <div class="view-count">
      <i class="bi bi-eye"></i>
      <span>{{article.view_counts}}</span>
    </div>
  </div>
  
  <div class="card-body">
    <p class="card-text">{{article.summary}}</p>
  </div>
  
  <div class="card-footer">
    <div class="footer-left">
      <span class="meta-info">
        <i class="bi bi-person-fill"></i>
        <span>{{article.author.nick}}</span>
      </span>
      <span class="meta-info">
        <i class="bi bi-folder-fill"></i>
        <a routerLink="/blog/categories/names/{{article.category.name}}">{{article.category.name}}</a>
      </span>
      @if (article.tags.length > 0) {
        <span class="meta-info">
          <i class="bi bi-tags-fill"></i>
          <span class="tags-group">
            @for (tag of article.tags; track tag; let i = $index) {
              <a routerLink="/blog/tags/names/{{tag.name}}">{{tag.name}}</a>
              @if (i != article.tags.length-1) {
                <span>、</span>
              }
            }
          </span>
        </span>
      }
      @if (user.isAuthenticated && user.user.id===article.author.id) {
        <span class="meta-info edit-link">
          <i class="bi bi-pencil-fill"></i>
          <a routerLink="/user/edit/{{article.id}}">编辑</a>
        </span>
      }
    </div>
    <div class="footer-right">
      <span class="meta-info">
        <i class="bi bi-clock"></i>
        <span>{{article.create_date}}</span>
      </span>
    </div>
  </div>
</div>