<div class="article-list">
  @for (article of articles; track article) {
  <app-article-card [article]="article"></app-article-card>
  }
</div>


<div style="text-align: center;">
  @if (page>0) {
  <i class="bi bi-caret-left page" (click)="previous()"></i>
  }
  @for (item of [].constructor(end-start+1); track item; let i = $index) {
  @if ((start + i - 1) !== page) {
  <span class="mx-2 page" (click)="toPage(start + i - 1)">{{start + i}}</span>
  } @else {
  <span class="mx-2" (click)="toPage(start + i - 1)">{{start + i}}</span>
  }
  }
  @if (page<total-1) { <i class="bi bi-caret-right page" (click)="next()"></i>
    }
</div>